html,
body,
#root {
  height: 100vh;
  margin: 0;
}

.App {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  height: 100%;
}

.Mongo,
.Redis {
  text-align: center;
}

.Comment {
  display: flex;
  justify-content: space-between;
}
